<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div style="overflow-x:auto;">
    <table>
        <thead>
            <tr>
                    <th>Country Name</th>
                    <th>Capital</th>
                    <th>Curruncy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>India</td>
                <td>New Delhi</td>
                <td>Indian Rs</td>
            </tr>
            <tr>
                <td>Pakistan</td>
                <td>Isalamabad</td>
                <td>Pakistani Rs</td>
            </tr>
            <tr>
                <td>Bangladesh</td>
                <td>Dhaka</td>
                <td>Bangladeshi Rs</td>
            </tr>
            <tr>
                <td>Nepal</td>
                <td>KatMandu</td>
                <td>Nepalese Rs</td>
            </tr>
            <tr>
                <td>Srilanka</td>
                <td>Colombo</td>
                <td>Srilanka's Rs</td>
            </tr>
            <tr>
                <td>China</td>
                <td>Beijing</td>
                <td>chinease Yuan</td>
            </tr>
            <tr>
                <td>Myanmar</td>
                <td>Nypyidaw</td>
                <td>Kyat</td>
            </tr>
            <tr>
                <td>South Korea</td>
                <td>Seoul</td>
                <td>South Korean won</td>
            </tr>
            <tr>
                <td>Bhutan</td>
                <td>Thimphu</td>
                <td>Ngultrum</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>