table,td,th{
    border: 1px solid black;
}
table{
    width: 50%;
    height: 500px;
} 
table{
    border-collapse:collapse;
    text-align: center;
    background-color: lightblue;
    font-weight: lighter;
    font-family: cursive;
}

tr:hover:nth-child(even){
background-color: teal;

}
tr:hover:nth-child(odd){
    background-color:rgb(226, 100, 100);
 }
