<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="head">
            <p>Header</p>
        </div>
    </header>
    <br>
   <main>
        <div class="soundBar">
           SoundBar
        </div>
      <p class="main">
          Main
      </p>
        <br>
        <br>
        <div class="facebook">
         Facebook
        </div>
        <br>
        <br>
        <div class="twitter">
            Twitter</div>
     <br>
    </main>
     <footer>
        <div class="foot">
            <p>Footer</p>
        </div>
     </footer>
</body>
</html>