.head,.foot{
    width: 1514px;
    height: 50px;
    border: black solid;
    background-color:lightgreen;
    text-align: center;
    margin-top: 20px;
}
p{
    margin-top: 10px;
}
.soundBar ,.facebook ,.twitter{
    display: inline-block;
    width: 250px;
    border: solid black;
    height: 150px;
    text-align: center;
    background-color: lightpink;
    
}
 .main{
    display: inline;
    border: solid black;
    height: 495px;
    margin-left: 20px;
    margin-top: 0px;
    float: right;
    width: 1230px;;
    text-align: center;
   background-color: lightblue;
} 

