ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
body::before {
  content: '';
  position: fixed;
  top: 10px;
  left: 5;
  height: 100%;
  width: 98.98%;
  z-index: -1;
  background: whitesmoke;
  background-image: linear-gradient(
      115deg,
      lightblue,
      rgba(48, 48, 128, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
    margin-left: 500px;
  }
  
  .container .btn {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(155, 24, 24);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 500px;
  }
  
  .container .btn:hover {
    background-color: rgb(53, 145, 17);
  }
fieldset{
    margin-top: 20px;
 margin-left: 150px;
 margin-right: 150px;
background-color: rgb(26, 26, 29);
opacity: 0.8;
color: white;

}
#sub{
  display: block;
width: 20%;
padding: 0.75rem;
background:green;
color: inherit;
border-radius: 7px;
cursor: pointer;
}
.content{
  font-size: 30px;
  text-align: center;
  height: 140px;
  color:rgb(30, 255, 0);
  background-color: gray;
  margin-left: 400px;
  margin-right: 400px;
}
footer{
  background-color: blanchedalmond;
}